
.employee_list{
    /* background-color: red; */
    padding: 2rem;
}
.employee_list h1{
    text-align: center;
}
table{
    width: 90%;
    border-collapse: collapse;
    background: rgb(233, 175, 175);
    margin: 2rem auto;
    padding: 2rem;
}
table thead{
    height: 1rem;
    background-color: brown;
    color: white;
}
table thead th{
    padding: 1rem;
}
table tbody td{
    padding: 0.2rem;
    text-align: center;
}
td>i{
    margin: 0.2rem;
    cursor: pointer;
}